data/raw/ filter=lfs diff=lfs merge=lfs -text
data/raw/iucn_terr_mammals/TERRESTRIAL_MAMMALS.cpg filter=lfs diff=lfs merge=lfs -text
data/raw/iucn_terr_mammals/TERRESTRIAL_MAMMALS.dbf filter=lfs diff=lfs merge=lfs -text
data/raw/iucn_terr_mammals/TERRESTRIAL_MAMMALS.prj filter=lfs diff=lfs merge=lfs -text
data/raw/iucn_terr_mammals/TERRESTRIAL_MAMMALS.sbn filter=lfs diff=lfs merge=lfs -text
data/raw/iucn_terr_mammals/TERRESTRIAL_MAMMALS.sbx filter=lfs diff=lfs merge=lfs -text
data/raw/iucn_terr_mammals/TERRESTRIAL_MAMMALS.shp filter=lfs diff=lfs merge=lfs -text
data/raw/iucn_terr_mammals/TERRESTRIAL_MAMMALS.shp.xml filter=lfs diff=lfs merge=lfs -text
data/raw/iucn_terr_mammals/TERRESTRIAL_MAMMALS.shx filter=lfs diff=lfs merge=lfs -text
data/raw/Pantheria/PanTHERIA_1-0_WR05_Aug2008.txt filter=lfs diff=lfs merge=lfs -text
